$pt-teal-dark: #07755D;
$pt-teal: #18C29C;
$pt-teal-light: #39FFD3;
$pt-red: #C25F43;
$pt-red-dark: #751E00;

$pt-primary-dark: #1C4239;
$pt-primary: #3B8F7A;
$pt-primary-light: #51C2A6;
$pt-secondary: #30423E;
$pt-secondary-light: #92CCBE;

$pt-gray-dark: #555555;
$pt-gray-light: #e9e9e9;